USE ODS

DECLARE @PUNBR NVARCHAR(3) = '002';
DECLARE @GRNBR NVARCHAR(3) = '285';
DECLARE @StartDate DATETIME = '09/23/2014';
DECLARE @EndDate DATETIME = '09/23/2014';
DECLARE @ChkType01 CHAR(1) = '1';
DECLARE @ChkType02 CHAR(1) = '0';
DECLARE @ChkType03 CHAR(1) = '3';
DECLARE @ChkType04 CHAR(1) = '0';
DECLARE @RunID UNIQUEIDENTIFIER = 'F7D3DA30-FA19-4C78-A02D-39393D42993C';

--EXEC [dbo].[SSRS_CheckRegisterForApprovals] @PUNBR = @PUNBR, @GRNBR = @GRNBR, @StartDate = @StartDate, @EndDate = @EndDate, @ChkType01 = @ChkType01, @ChkType02 = @ChkType02, @ChkType03 = @ChkType03, @ChkType04 = @ChkType04
EXEC [dbo].[SSRS_CheckRegisterForApprovals2] @PUNBR = @PUNBR, @GRNBR = @GRNBR, @StartDate = @StartDate, @EndDate = @EndDate, @ChkType01 = @ChkType01, @ChkType02 = @ChkType02, @ChkType03 = @ChkType03, @ChkType04 = @ChkType04, @RunID = @RunID


TRUNCATE TABLE dbo.SSRS_CheckReg_CJP2
TRUNCATE TABLE dbo.SSRS_CheckReg_GRP2 
TRUNCATE TABLE dbo.SSRS_CheckReg_Patient2
TRUNCATE TABLE dbo.SSRS_CheckReg_CLMH2 

SELECT * INTO dbo.SSRS_CheckReg_CJP2 FROM dbo.SSRS_CheckReg_CJP WHERE PUNBR = '002' AND GRNBR = '285'
SELECT * INTO dbo.SSRS_CheckReg_GRP2 FROM dbo.SSRS_CheckReg_GRP WHERE PUNBR = '002' AND GRNBR = '285'
SELECT * INTO dbo.SSRS_CheckReg_Patient2 FROM dbo.SSRS_CheckReg_Patient WHERE PUNBR = '002' AND GRNBR = '285'
SELECT * INTO dbo.SSRS_CheckReg_CLMH2 FROM dbo.SSRS_CheckReg_CLMH WHERE PUNBR = '002' AND GRNBR = '285'

SELECT * FROM dbo.SSRS_CheckReg_CJP2
SELECT * FROM dbo.SSRS_CheckReg_GRP2
SELECT * FROM dbo.SSRS_CheckReg_Patient2
SELECT * FROM dbo.SSRS_CheckReg_CLMH2

SELECT * FROM dbo.SSRS_CheckReg_CJP2_ERR
SELECT * FROM dbo.SSRS_CheckReg_GRP2_ERR
SELECT * FROM dbo.SSRS_CheckReg_Patient2_ERR
SELECT * FROM dbo.SSRS_CheckReg_CLMH2_ERR

SELECT * INTO dbo.SSRS_CheckReg_CJP2_ERR FROM dbo.SSRS_CheckReg_CJP_ERR WHERE PUNBR = '002' AND GRNBR = '285'
SELECT * INTO dbo.SSRS_CheckReg_GRP2_ERR FROM dbo.SSRS_CheckReg_GRP_ERR WHERE PUNBR = '002' AND GRNBR = '285'
SELECT * INTO dbo.SSRS_CheckReg_Patient2_ERR FROM dbo.SSRS_CheckReg_Patient_ERR WHERE PUNBR = '002' AND GRNBR = '285'
SELECT * INTO dbo.SSRS_CheckReg_CLMH2_ERR FROM dbo.SSRS_CheckReg_CLMH_ERR WHERE PUNBR = '002' AND GRNBR = '285'

SELECT * FROM dbo.SSRS_CheckReg_CJP_ERR WHERE PUNBR = '002' AND GRNBR = '285'
SELECT * FROM dbo.SSRS_CheckReg_GRP_ERR WHERE PUNBR = '002' AND GRNBR = '285'
SELECT * FROM dbo.SSRS_CheckReg_Patient_ERR WHERE PUNBR = '002' AND GRNBR = '285'
SELECT * FROM dbo.SSRS_CheckReg_CLMH_ERR WHERE PUNBR = '002' AND GRNBR = '285'


DECLARE @AllConnections TABLE(
    SPID INT,
    Status VARCHAR(MAX),
    LOGIN VARCHAR(MAX),
    HostName VARCHAR(MAX),
    BlkBy VARCHAR(MAX),
    DBName VARCHAR(MAX),
    Command VARCHAR(MAX),
    CPUTime INT,
    DiskIO INT,
    LastBatch VARCHAR(MAX),
    ProgramName VARCHAR(MAX),
    SPID_1 INT,
    REQUESTID INT
)

INSERT INTO @AllConnections EXEC sp_who2

SELECT * FROM @AllConnections WHERE DBName = 'ODS'

ALTER DATABASE ODS SET SINGLE_USER WITH ROLLBACK immediate
ALTER DATABASE ODS SET ENABLE_BROKER
ALTER DATABASE ODS SET MULTI_USER
